body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 40px;
}

section {
  background: white;
  margin: 20px auto;
  padding: 30px;
  max-width: 800px;
  border-radius: 10px;
}

h2 {
  color: #2c3e50;
}

footer {
  text-align: center;
  padding: 20px;
  color: gray;
}
